.btn {
    color: #fff;
    background-color: hsl(329 ,45%, 38%);
    border-color: hsl(329, 45%, 38%);
    width: fit-content;
    font-weight: bold;
    padding: 0.2em 1em;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    letter-spacing: 0.1em;
    user-select: none;
    cursor: pointer;
}

.btn > a:visited,
.btn > a:link {
    color: #fff;
    text-decoration: none;
}

.btn > form {
    margin: unset;
}

.btn > form > input[type="submit"] {
    background-color: unset;
    border: unset;
    color: unset;
    font-size: unset;
    padding: unset;
    appearance: none;
    font-weight: bold;
    cursor: pointer;
}

.btn > form > input[type="submit"]:focus {
    outline: none;
}

.paper {
    box-shadow: 4px 5px 4px 2px #aaa;
    padding: 2em;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    background-color: #fff;
    min-height: 50vh;

    margin: 1em 2em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: fadeInDown; 
    animation-duration: 0.8s;
}


.paper > .paper-head {
    min-height: 2rem;
}

.paper > .paper-body {
    flex: 1 1;
}

table.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    min-width: 7em;
    text-align: center;
}

.table tr {
    line-height: 2;
}

.table thead > tr:first-child {
    background-color: hsl(306, 40%, 20%);
    color: #fff;
    line-height: 2.5;
}

.table tr:hover {
    background-color: hsl(60 ,100% ,85%);
}

.table tr:nth-child(odd) {
    background-color: hsl(306 ,40%, 100%);
}

.table tr:nth-child(even) {
    background-color: hsl(306 ,40% ,90%);
}
