{% extends "base.html" %}

<!--  -->
{% block styles %}
<link href="/dialog_error.css" rel="stylesheet" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="panel" >

<div class="dialog">
    <div class="content" >
        <span
            >确认删除“{{record.stu_name}}”的《{{record.cou_name}}》的课程的成绩({{record.grade}})?</span
        >
    </div>
    <div class="footer">
        <div class="btn">
            <form
                action="/action/grade/delete/{{record.stu_sn}}/{{record.cou_sn}}"
                method="post"
            >
                <input type="submit" value="删除" />
            </form>
        </div>
        <div class="btn">
            <a href="/grade">返回</a>
        </div>
    </div>
</div>
</div>
{% endblock %}

