{% extends "base.html" %}

<!--  -->
{% block styles %} {% endblock %}

<!--  -->
{% block page_content %}
<div class="paper">
    <form action="/action/sc/edit/{{stu_sn}}/{{cou_sn}}" method="post">
        课程：

        <select name="cou_sn">
            <option value="">--选择--</option>
            {% for item in courses %}
            <option value="{{item.cou_sn}}">
                {{item.cou_name}}({{item.cou_sn}})
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="修改" />



    </form>
    <hr />
    <a href="/sc"> 回到成绩列表 </a>
</div>
{% endblock %}